.error {
	margin-top: 5px;
	margin-bottom: 20px;
}

.pagination {
   justify-content: center;
}

.titles {
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
}

.filters {
	margin-right: 12px;
}

.inputs {
	margin-right: 8px;
}

div.card {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}